doctype html
html
    head
        meta(name="viewport" content="width=device-width,initial-scale=1.0")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA==" crossorigin="anonymous")
        title Payment successful
        script.
            var time = "!{timeout}" || 5000;
            if("!{redirectUrl}"){
                setTimeout(function(){
                    //- window.location = "!{redirectUrl}"
                },time)
            }
    body(style={"font-family":"sans-serif"})
        div(style={"max-width": "500px","box-shadow":"0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02)",margin:"3rem auto",padding: "16px", "text-align":"center","border-radius":"8px","box-sizing":'border-box'})
            h2(style={"margin-top":0})
                i(
                    class=["fa", "fa-check-circle"]
                    style={color:"green","font-size":"3.5rem"}
                ) &nbsp;
                div(style={"margin-top":"8px"}) We have received your payment!
            if type=="combo"
              div You have paid for #{courseName} Combo Pack.
              div This pack includes following course(s)/session(s)
              ul(style={"text-align":'left'})
                each c in courses
                  li= c.title
            else
              div You have paid for #{courseName}.
            div We will be in touch with you soon.
            p In case of any query, reach out to us at <a href="mailto:neel@prepseed.com">neel@prepseed.com</a> or <a href="tel:8128005852">8128005852</a>
            div
                a(href='https://prepseed.com/courses') Click here
                |  to explore more courses